@font-face {
    font-family: 'karlson';
    src: url('../fonts/karlson.eot');
    src: local('karlson'), local('karlson'),
    url('../fonts/karlson.eot?#iefix') format('embedded-opentype'),
    url('../fonts/karlson.woff') format('woff'),
    url('../fonts/karlson.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HeliosCond Regular';
    src: url('../fonts/HeliosCond.eot');
    src: local('HeliosCond Regular'), local('HeliosCond'),
    url('../fonts/HeliosCond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HeliosCond.woff') format('woff'),
    url('../fonts/HeliosCond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}