.section1 {
    max-width: 100vw;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 739px) {
    .section1 {
        display: none;
    }
}

.lineUp {
    width: 100%;
    height: 10px;
    background-color: rgba(90, 166, 179, 1.0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.lineDown {
    width: 100%;
    height: 10px;
    background-color: rgba(90, 166, 179, 1.0);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.section1 img {
    width: 100%;
}

#slideImg0 {
    opacity: 0;
}

#slideImg1,
#slideImg2,
#slideImg3 {
    position: absolute;
    top: 0;
    left: 0;
}


#slideImg1,
#overlayLeft1,
#overlayRight1{
    display: block;
}

#slideImg2,
#overlayLeft2,
#overlayRight2 {
    display: none;
}

#slideImg3,
#overlayLeft3,
#overlayRight3 {
    display: none;
}

.overlay1-left-panel,
.overlay2-left-panel,
.overlay3-left-panel {
    position: absolute;
    width: 39.6%;
    top: 1%;
    left: 10%;
    height: 100%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, .5);
    background-size: 100%;
}

.overlay1-left-panel {
    background-image: url("../images/slide-1-760x1000-blur-min.jpg");
}
.overlay2-left-panel {
    background-image: url("../images/slide-2-760x1000-blur-min.jpg");
}
.overlay3-left-panel {
    background-image: url("../images/slide-3-760x1000-blur-min.jpg");
}

.overlay-left-panel-white {
    position: absolute;
    width: 39.6%;
    top: 0;
    left: 10%;
    height: 100%;
    background-color: rgba(255, 255, 255, .2);
}

.section1-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.section1 h1 {
    color: rgba(150, 40, 27, 1);
    font-family: 'karlson', Arial, sans-serif;
    font-size: 4rem;
    line-height: 4rem;
    text-transform: uppercase;
    padding: 1rem 0 2rem 0;
    text-shadow: 1px 1px 5px white;
}
@media screen and (max-width: 1920px) {
    .section1 h1 {
        font-size: calc(1rem + (4 - 1) * ((100vw - 17.78rem) / (120 - 17.78)));
        line-height: calc(.6rem + (4 - .6) * ((100vw - 17.78rem) / (120 - 17.78)));
        padding:
                calc(.5rem + (1 - .5) * ((100vw - 17.78rem) / (120 - 17.78))) 0
                calc(.5rem + (2 - .5) * ((100vw - 17.78rem) / (120 - 17.78))) 0;
    }
}

.section1 h2 {
    font-family: 'karlson', Arial, sans-serif;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, .66);
    text-shadow: 1px 1px white;
}
@media screen and (max-width: 1920px) {
    .section1 h2 {
        font-size: calc(.5rem + (1.8 - .5) * ((100vw - 17.78rem) / (120 - 17.78)));
    }
}

.section1 h2.phone {
    margin-top: 1rem;
    color: rgba(255, 255, 255, 1);
    font-size: 1.8rem;
    text-shadow: 1px 1px rgba(150, 40, 27, 1);
}
@media screen and (max-width: 1920px) {
    .section1 h2.phone {
        font-size: calc(.5rem + (1.8 - .5) * ((100vw - 17.78rem) / (120 - 17.78)));
        margin-top: calc(.5rem + (1 - .5) * ((100vw - 17.78rem) / (120 - 17.78)));
    }
}

.section1-text p {
    font-size: 1.25rem;
    line-height: 1.6rem;
    font-family: 'HeliosCond Regular', sans-serif;
    padding: 1rem 0;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    text-shadow: 1px 1px rgba(150, 40, 27, 1);
    letter-spacing: .066rem;
}
@media screen and (max-width: 1920px) {
    .section1-text p {
        font-size: calc(.5rem + (1.25 - .5) * ((100vw - 17.78rem) / (120 - 17.78)));
        line-height: calc(.66rem + (1.6 - .66) * ((100vw - 17.78rem) / (120 - 17.78)));
        padding: calc(.33rem + (1 - .33) * ((100vw - 17.78rem) / (120 - 17.78))) 0;
    }
}
@media screen and (max-width: 449px) {
    .section1-text p {
        display: none;
    }
}

.section1 .section1-text a {
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: rgba(255, 255, 255, 1.0);
    color: rgba(0, 0, 0, .8);
    transition: .5s;
    display: inline-block;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-family: 'HeliosCond Regular', sans-serif;
    margin-top: 1rem;
}
@media screen and (max-width: 1920px) {
    .section1 .section1-text a {
        font-size: calc(.6rem + (1.2 - .6) * ((100vw - 17.78rem) / (120 - 17.78)));
        padding:
                calc(.5rem + (1 - .5) * ((100vw - 17.78rem) / (120 - 17.78)))
                calc(.6rem + (1.5 - .6) * ((100vw - 17.78rem) / (120 - 17.78)));
        margin-top: calc(0rem + (1 - 0) * ((100vw - 17.78rem) / (120 - 17.78)));
    }
}
@media screen and (max-width: 449px) {
    .section1 .section1-text a {
        margin-top: 1rem;
    }
}

.section1 .section1-text a:hover {
    background-color: rgba(150, 40, 27, 1);
    color: white;
}

.burger,
.burger-close {
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 4rem;
    height: 4rem;
    transition: .5s;
    cursor: pointer;
    z-index: 20;
}
@media screen and (max-width: 1920px) {
    .burger,
    .burger-close {
        width: calc(2.5rem + (4 - 2.5) * ((100vw - 17.78rem) / (120 - 17.78)));
        height: calc(2.5rem + (4 - 2.5) * ((100vw - 17.78rem) / (120 - 17.78)));
        top: calc(.5rem + (3 - .5) * ((100vw - 17.78rem) / (120 - 17.78)));
        right: calc(.66rem + (3 - .66) * ((100vw - 17.78rem) / (120 - 17.78)));
    }
}

.burger-close {
    display: none;
    opacity: 0;
    border: none;
}

.burger:hover span,
.burger-close:hover span {
    background-color: rgba(255, 255, 255, 1);
}

.burger span,
.burger-close span {
    position: absolute;
    width: 80%;
    height: 10%;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
}

.burger span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: -250%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;
}

.burger span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 250%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;
}

.burger-close .burg-close1 {
    top: 44.533%;
    left: -36%;
    transform-origin: center center;
    transform: rotate(-45deg);
}

.burger-close .burg-close2 {
    top: 44.533%;
    left: -36%;
    transform-origin: center center;
    transform: rotate(45deg);
}

.overlay1-right-panel,
.overlay2-right-panel,
.overlay3-right-panel {
    position: absolute;
    width: 17%;
    top: 0;
    right: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, .5);
    background-size: 100%;
    opacity: 0;
    transition: .5s;
}

.overlay1-right-panel {
    background-image: url("../images/slide-1-323x1000-blur-min.jpg");
}
.overlay2-right-panel {
    background-image: url("../images/slide-2-323x1000-blur-min.jpg");
}
.overlay3-right-panel {
    background-image: url("../images/slide-3-323x1000-blur-min.jpg");
}

.overlay-right-panel-white {
    position: absolute;
    width: 17%;
    top: 0;
    right: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, .2);
    opacity: 0;
    transition: .5s;
}

.panel-menu {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 17%;
    opacity: 0;
    transition: .5s;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: center;
    width: 100%;
}

.menu-item {
    width: 100%;
}

.menu-item a {
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    text-align: right;
    border: none;
    background-color: transparent;
    margin: 0;
    font-weight: 300;
    border-radius: 0;
    display: inline-block;
    padding: 1.3rem 3rem 1.8rem 2rem;
    transition: .5s;
    font-family: 'karlson', Arial, sans-serif;
    text-transform: uppercase;
}
@media screen and (max-width: 1920px) {
    .menu-item a {
        font-size: calc(.5rem + (1.4 - .5) * ((100vw - 17.78rem) / (120 - 17.78)));
        line-height: calc(.2rem + (1.4 - .2) * ((100vw - 17.78rem) / (120 - 17.78)));
        padding:
                calc(.33rem + (1.3 - 0) * ((100vw - 17.78rem) / (120 - 17.78)))
                calc(.5rem + (3 - .5) * ((100vw - 17.78rem) / (120 - 17.78)))
                calc(.33rem + (1.8 - .33) * ((100vw - 17.78rem) / (120 - 17.78)))
                calc(.5rem + (2 - .5) * ((100vw - 17.78rem) / (120 - 17.78)));
    }
}

.menu-item a:hover {
    color: rgba(150, 40, 27, 1);
}

.pagins {
    position: absolute;
    bottom: 10rem;
    right: 10%;
    text-align: right;
    width: 100%;
}
@media screen and (max-width: 1920px) {
    .pagins {
        bottom: calc(-.66rem + (10 + .66) * ((100vw - 17.78rem) / (120 - 17.78)));
    }
}
@media screen and (max-width: 449px) {
    .pagins {
        bottom: .33rem;
    }
}

.pagin {
    display: inline-block;
    margin-left: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    transition: .5s;
    opacity: .8;
}
@media screen and (max-width: 1920px) {
    .pagin {
        width: calc(1.3rem + (3 - 1.3) * ((100vw - 17.78rem) / (120 - 17.78)));
        height: calc(1.3rem + (3 - 1.3) * ((100vw - 17.78rem) / (120 - 17.78)));
        margin-left: calc(0rem + (1 - 0) * ((100vw - 17.78rem) / (120 - 17.78)));
    }
}

.pagin:hover,
.pagin-active {
    background-color: rgba(150, 40, 27, 1);
}